<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form for Edit Blog</h1>
    <form action="" method="" >
        <input name="blog" value="<%=foundBlog.blog%>" type="text">
        <input name="author" value="<%=foundBlog.author%>" type="text" >
        <button type="submit">Edit</button>
    </form>
</body>
</html>