<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/blogs">back</a>
    <div>
        <h1>Id: <%= foundBlog.id %> </h1>
        <h2>Blog: <%= foundBlog.blog %> </h2>
        <p>Author:<%= foundBlog.author %> </p>
    </div>
</body>
</html>